.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#imageBox {
  width: 720px;
  height: 480px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentImage {
  align-items: center;
  justify-content: center;
  max-width: 720px;
  max-height: 480px;
  object-fit: contian;
}

#button {
  padding: 20px 40px;
  font-size: 32px;
}

#title {
  font-size: 64px;
  color: orange;
}